.payment {
  background-color: lightgreen;
  width: 80rem;
  height: 80rem;
}

.apple {
  width: 100px;
  height: 100px;
  background-color: red;
}
.mango {
  width: 100px;
  height: 100px;
  background-color: green;
}
.banana {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
