@import 'src/styles/variables.scss';

.orderCheck {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 70%;
  margin: auto;
  padding-top: 200px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;

  .title {
    width: 100%;
  }

  .orderCheckBox {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin-top: 40px;

    .line1 {
      position: absolute;
      right: 1px;
      top: 1px;
      width: 70%;
      border: 1px solid lightgray;
    }

    .line2 {
      position: absolute;
      right: 1px;
      bottom: 1px;
      width: 70%;
      border-bottom: 1px solid black;
    }

    .checkBtnBox {
      display: flex;
    }

    .checkBtn1 {
      width: 15%;
      height: 49px;
      font-size: 14px;
      border: 1px solid black;
      border-bottom: 1px solid white;
      text-align: center;
      line-height: 47px;
    }

    .checkBtn2 {
      width: 15%;
      height: 48px;
      font-size: 14px;
      border: 1px solid lightgray;
      border-bottom: 1px solid black;
      color: lightgray;
      text-align: center;
      line-height: 47px;
    }
  }

  .dateBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 5px solid rgb(225, 225, 225);
    margin-top: 30px;

    .orderStatus {
      height: 24px;
      border: 1px solid rgb(200, 200, 200);
      margin: 0 20px;
    }

    .divideLine {
      font-size: 15px;
      color: lightgray;
      margin-right: 20px;
    }

    .dayBtn {
      margin-bottom: 5px;
      margin-right: 20px;

      button {
        border: 1px solid rgb(193, 193, 193);
        border-radius: 2px;
        background-color: rgb(241, 239, 239);
        font-size: 12px;
      }
    }

    .calendar1 {
      border: 1px solid rgb(193, 193, 193);
      font-size: 13px;
      padding: 4px 5px;
      margin-top: 5px;
      color: gray;
    }

    .calendarIcon {
      color: rgb(255, 130, 130);
      font-size: 17px;
      margin-top: 5px;
      margin-left: 5px;
    }

    .dash {
      margin: 7px;
    }

    .inquire {
      margin-top: 3px;
      margin-left: 10px;
      padding: 2px 7px;
      color: white;
      background-color: rgb(102, 102, 102);
      border: none;
    }
  }

  .orderDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
    color: rgb(157, 157, 157);

    div {
      margin-bottom: 7px;
    }
  }
}
