.orderInfo {
  // background-color: whitesmoke;
  width: 80rem;
  font-size: 13px;

  input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-right: 18px;
  }

  button {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .emailText {
      p {
        margin-bottom: 5px;
      }
    }
  }

  .title {
    width: 11%;
  }

  .destinationBox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    input {
      margin-right: 0.4rem;
    }

    label {
      margin-right: 1.25rem;
      cursor: pointer;
    }
  }

  .addressBox {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 15px;
    }

    & > div {
      &:last-child {
        input {
          margin-bottom: 0;
        }
      }
    }
  }

  .paymentBox {
    display: flex;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .radiobox {
    display: flex;
    align-items: center;
    // background-color: burlywood;

    input {
      margin: 0;
    }
  }

  .radio {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 15px;

    input {
      margin-right: 5px;
      cursor: pointer;
      position: relative;
      top: -1px;
    }
  }

  .footer {
    border: none;
    border-top: 1px solid black;
    margin-top: 30px;
    padding: 30px 0;

    button {
      font-size: 15px;
      font-weight: 600;
    }
  }
}
