.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;

  h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .carouselWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
  }

  .buttonContainer {
    button {
      margin: 2rem 0.3rem;
      width: 8px;
      height: 8px;
      background-color: grey;
      border-radius: 2px;
      border: none;
      outline: none;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: black;
        transition: 0.3s all ease-in-out;
      }
    }

    .active {
      width: 20px;
      background-color: black;
    }
  }
}