.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  font-size: 0.8rem;
  font-weight: 500;

  h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .footerNav {
    display: flex;

    li {
      margin-right: 1.4rem;
      font-size: 1rem;

      &:hover {
        color: grey;
      }
    }
  }

  .footerBottom {
    width: 90%;
    display: flex;

    .footerIcon {
      font-size: 2rem;
      margin-right: 1rem;
    }

    .footerBottomText {
      text-align: center;
      color: grey;
    }
  }
}