.mainSection {
  position: relative;

  .renderTest {
    animation: render 0.3s ease-in;
  }

  .slideDot {
    display: flex;
    position: absolute;
    bottom: 1rem;
    font-size: 2rem;
    right: 47vw;
  }
}

@keyframes render {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}