.cart {
  display: flex;
  flex-direction: column;
  padding: 100px;
  font-size: 12px;

  .basket {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }

  .tableWrapper {
    display: flex;
    flex-direction: column;
    width: 80rem;
    margin: auto;

    p {
      margin-bottom: 10px;
    }
  }

  table {
    width: 80rem;
    border-top: 1px solid black;
    border-collapse: collapse;
    text-align: center;

    .checkBox {
      // background-color: red;
      width: 80px;
      accent-color: black;
    }

    th,
    td {
      vertical-align: middle;
      padding: 0.8rem 0;
      border-bottom: 1px solid #444444;
      text-align: center;
    }

    tfoot {
      tr {
        &:last-child {
          border-bottom: 1px solid #444444;
        }
      }
      td {
        padding: 10px 0;
        border: none;
      }
      .apple {
        display: flex;
        justify-content: end;

        .pricebox {
          width: 10rem;
          text-align: end;
        }
      }
    }
  }

  .bottomBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;

    button {
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  }
}

.noItem {
  height: 150px;
  font-weight: 300;
}
