.reviewItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 10;
  margin: 0.7rem 0;
  padding: 0 1rem;
  text-align: center;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(211, 211, 211, 0.488);

  .itemNumber {
    width: 1rem;
  }

  .itemImg {
    width: 50px;
    height: 50px;
    margin-left: 4rem;
  }

  .itemProduct {
    margin-left: 1rem;
    width: 4rem;
    color: grey;
    font-size: 0.7rem;
  }

  .itemSubject {
    flex: 3;
    margin-left: 1rem;
    text-align: left;
  }

  .itemName {
    flex: 0.5;
  }

  .itemDate {
    flex: 0.5;
  }

}