@import '../../styles/variables.scss';

.nav {
  position: fixed;
  @include flexAround;
  height: 8rem;
  width: 100vw;
  align-items: center;
  background-color: transparent;

  .navText {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    list-style: none;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;

    .navTextList {
      position: relative;
      margin-left: 3rem;

      &:hover .navTextListInfo {
        visibility: visible;
        opacity: 1;
      }

      .navTextListInfo {
        position: absolute;
        width: 6rem;
        margin-top: 1rem;
        font-size: 0.9rem;
        transition: 0.2s all ease-in;
        opacity: 0;
        visibility: hidden;

        .navTextListIcon {
          display: flex;
          justify-content: space-between;
          margin-right: 2rem;
          margin-top: 2rem;
          font-size: 1.3rem;
        }

        li {
          margin-top: 2rem;

          &:hover {
            color: grey;
          }
        }

        .insta {
          &:hover {
            color: rgb(83, 131, 236);
          }
        }

        .youtube {
          &:hover {
            color: red;
          }
        }
      }
    }
  }

  .navIcon {
    display: flex;
    justify-content: space-around;
    width: 8rem;
    font-size: 1.6rem;
  }

  .widthZero {
    width: 0;
    visibility: hidden;
    opacity: 0;
    color: transparent;
  }
}