@import 'src/styles/variables.scss';

.searchBox {
  position: fixed;
  @include flexCenter;
  width: 100vw;
  height: 100vh;
  position: fixed;
  @include flexCenter;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.794);
  animation: move 0.5s;
  z-index: 10;

  input {
    width: 20rem;
    height: 5rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 2rem;

    &::placeholder {
      color: black;
      text-align: center;
      font-size: 3rem;
    }
  }
}

.searchClose {
  position: fixed;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  color: black;
  z-index: 11;
}

@keyframes move {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}